/* INDEX */
#landing {
     height: 100vh;
     min-height: 130vh;
     background: url('assets/divider_bottom.png') bottom center no-repeat, url('assets/landing_background.png') center center, rgb(0, 2, 17);
     background-size: 100% 20%, cover, cover;
     padding-bottom: 5rem;
}

.text-landing-hello {
     color: white;
     font-size: 36px;
     margin: 0;
     font-weight: lighter;
}

.text-landing-name {
     color: white;
}

.social-icon {
     transition: 400ms;
}

.text-landing-name {
     font-size: 90px;
     font-weight: bold;
}

.text-landing-greetings {
     font-size: 24px;
     font-weight: lighter;
     color: white;
}

#landing .button-link {
     background: white;
     color: black;
     font-size: 18px;
     padding: 5px 20px;
     border-radius: 50px;
     margin-top: 20px;
     transition: 200ms ease;
}

#landing .button-link:hover {
     background: rgb(218, 218, 218);
}

.profile-landing {
     border-radius: 50%;
     box-shadow: 40px 20px rgb(4, 102, 231);
}

#quote {
     padding: 4rem 0;
}

#quote .text-quote {
     text-align: center;
     font-size: 72px;
     padding: 1rem 0;
     color: rgb(0, 2, 17);
}

#about {
     padding: 4rem 0 6rem 0;
}

#about .image-content {
     width: 100%;
     border-radius: 15px;
     box-shadow: 20px 20px rgb(0, 2, 17);
}

.text-title {
     font-size: 56px;
     padding: 1rem 0;
}

#about p {
     font-size: 18px;
}

#experiences {
     padding: 10rem 0;
     background: url('assets/divider_top.png') top center no-repeat,
          url('assets/divider_bottom.png') bottom center no-repeat, url('assets/landing_background.png') center center,
          rgb(0, 2, 17);
     background-size: 100% 10%, 100% 10%, cover;
}

#skills {
     padding: 2rem 0 4rem 0;
}

/* GALLERY */
.gallery {
     padding: 7rem 0;
}

/* PROJECTS */
.projects {
     padding: 7rem 0;
}